/*body{*/
/*    background-color: wheat;*/
/*}*/
/*h2{*/
/*    text-align: center;*/
/*    color: green;*/
/*    font-family: monospace;*/
/*    background-color: darkgray;*/
/*    font-size: 30px;*/
/*    max-width: 2000px;*/
/*}*/
/*p{*/
/*    color: deepskyblue;*/
/*}*/

/*profile.html*/
#profile h1{
  max-width: 100px;
}
/*about.html*/

/*member_details.html*/

/*member_list.html*/

