/*body{*/
/*    background-color: wheat;*/
/*}*/
/*h2{*/
/*    text-align: center;*/
/*    color: green;*/
/*    font-family: monospace;*/
/*    background-color: darkgray;*/
/*    font-size: 30px;*/
/*    max-width: 2000px;*/
/*}*/
/*p{*/
/*    color: deepskyblue;*/
/*}*/

/*profile.html*/
body{
  background-color: #0b5ed7;
}
.container{
  background-color: #997404;
}
#profile h1{
  max-width: 100px;
  background-color:goldenrod;
}
textarea{
  max-height: 10px;
  max-width: 1000px;
}
/*about.html*/

/*member_details.html*/
.container{
  background-color: goldenrod;
}
input{
  border: none;
  padding: 8px;
  border-radius: 4px;
}


/*member_list.html*/

