<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
      <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="../../static/assets/styles/main.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">W.I.S.Ltd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Members
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="member_list.html">Members List</a></li>
            <li><a class="dropdown-item" href="member_details.html">Members Details</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<h2 id="history" class="bg-danger">OUR HISTORY</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eum harum molestiae obcaecati quidem recusandae!</p>
<h3 id="vision" class="bg-primary text-center">VISION</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nisi quaerat repudiandae sed sunt vitae?</p>
<h3 id="mission">MISSION</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error explicabo fuga mollitia sit veniam voluptas.</p>
<h3 id="products">OUR PRODUCTS</h3>
  <ul>
    <li>Loans</li>
    <li>Financial investments</li>
    <li>Asset financing</li>
    <li>Business solutions</li>
  </ul>
</div>
<script src="../../static/assets/styles/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>