{% extends 'base.html' %}

{% block content %}

{% block title %}
    Member Details
{% endblock %}

<br><br>
<div class="container col-6 ">
  <div class="row">
    <div class="col-6">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputName" class="form-label">First Name</label>
          <label for="inputFirstName"></label>
          <input type="text" class="form-control" id="inputFirstName">
        </div>
       <div class="col-md-6">
         <label for="inputName" class="form-label">Last Name</label>
         <input type="text" class="form-control" id="inputName">
       </div>
  <div class="row">
    <div class="col-6">
      <label type="number">Membership number</label>
      <input type="number" class="form-control" placeholder="Membership number" aria-label="membership number">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label type="number">Phone number</label>
      <input type="number" class="form-control" placeholder="Phone number" aria-label="phone number">
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xl-6 col-xl-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your email address">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
     </div>
 </div>
</div>

{% endblock %}