{% extends 'base.html' %}

{% block content %}

{% block title %}
    Member List
{% endblock %}

<h3>This a table of our existing members</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black">#</th>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black">First name</th>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black">Last name</th>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black" >Membership No"</th>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black">Email address</th>
      <th scope="col" style="background-color: #0dcaf0; border: 1px solid black">Phone number</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="background-color: #0dcaf0; border: 1px solid black">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>123245678</td>
      <td>infowisltd@gmail.com</td>
      <td>0712345678</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: #0dcaf0; border: 1px solid black">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>9087650911</td>
      <td>anfowisltd@gmail.com</td>
      <td>011345678</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: #0dcaf0; border: 1px solid black">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>23453456678</td>
      <td>bnfowisltd@gmail.com</td>
      <td>0112134567</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: #0dcaf0; border: 1px solid black">4</th>
      <td>Joseph</td>
      <td>Kanon</td>
      <td>098765432</td>
      <td>cnfowisltd@gmail.com</td>
      <td>0798765432</td>
    </tr>
  </tbody>
</table>
<button style="margin-left: 50px; padding: 5px 10px; " class="bg-success border-black align-content-end">BACK</button>

{% endblock %}